html {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 200px;
    padding-bottom: 0;
    background-color: #1F2937;
    color: white;

}

.headerLogo {
    margin-right: auto;
    font-size: 24px;
}

.pageBody {
    
    
}



.bodyIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 120px 200px;
    background-color: #1F2937;
    color: white;
    align-items: stretch;
}

h1, .heroMain {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
}

/* #slideshowHeader {
    padding: 30px;
} */

p, .heroSecondary {
    font-size: 18px;
    margin: 0;
}

.bodyIntro .bodyBox {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 15px;
}

.signUpButton {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    padding: 10px;
    max-width: 120px;
    font-size: 18px;
}

#imageBox {
    background-color: rgb(161, 161, 161);
    align-items: center;
    justify-content: center;
}

.bodySlideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 260px;
    padding-bottom: 120px;
    gap: 40px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* height: 200px; */
    /* align-items: stretch; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    justify-content: space-between;
    flex-basis: 20%;
    gap: 10px;
}

#cardImage {
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    padding-top: 98%;
}

.bodyQuoteContainer {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    
    padding: 120px 340px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
}

.personQuote {
    font-size: 36px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.footer {
    margin-top: auto;
}

.signUpBoxContainer {
    display: flex;
    margin: 80px 200px;
    padding: 60px 140px;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    color: white;
}

.signUpHeader {
    padding: 0;
    margin: 0;
    
    font-size: 24px;
    font-weight: bold;
}

#signUpSpecial {
    margin-left: auto;
    border-style: solid;
    border-color: white;
    flex: 1 25%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 200px;
    background-color: #1F2937;
    color: white;
}